.card {
  position: relative;
}

.card__preview {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  cursor: pointer;
}

@media (max-width: 768px) {
  .card__preview {
    display: none;
  }
}

.card__dots {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 4px;
  opacity: 0;
  transition: opacity .3s ease;
  position: absolute;
  width: 100%;
  bottom: 6px;
}

@media (max-width: 768px) {
  .card__dots {
    gap: 4px;
    opacity: 1;
    bottom: 6px;
  }
}

.card__dots span {
  width: 4px;
  height: 4px;
  border-radius: 10px;
  background-color: #CECECE;
  transition: width .3s ease;
}

@media (max-width: 768px) {
  .card__dots span {
    width: 4px;
    height: 4px;
    border-radius: 10px;
  }
}

.card__dots span.card__dots--active {
  width: 12px;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .card__dots span.card__dots--active {
    width: 12px;
  }
}

.card__dots.card__dots--active {
  opacity: 1;
}

.card__img img,
.card__img video {
  object-fit: contain;
  width: 100%;
  height: 100%;
  display: none;
}

.card__img img.card__img--active,
.card__img video.card__img--active {
  display: block;
}