<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accordion</title>

    <link rel="stylesheet" href="accordion.css">

</head>
<body>
    
    <div class="drop-blocks__inner">
        <div class="drop-el"> 
        <div class="drop-el__title">
            <div class="h2">The windows are very high, how to wash them?</div>
            <div class="drop-el__icon">
            </div>
        </div>
        <div class="drop-el__inside">
            <div class="p1">
                There are two ways. The first is to order cleaning through the management company.
            Go to the application, in the "Services" section, select "window washing" and leave a request.
            Please note that this is a paid service, but its cost is usually lower than in
            average for the city. As soon as the management company collects the required number of requests, it will call industrial
            climbers who will wash all the windows in one day. The second way is to rent together with neighbors
            robot cleaner. You will only need to start the device without leaving your apartment and remove it
            after finishing work. It will wash four square meters of window in ten minutes.
            </div>
        </div>
        </div>
        <div class="drop-el">
        <div class="drop-el__title">
            <div class="h2">The windows are very high, how to wash them 22?</div>
            <div class="drop-el__icon">
            </div>
        </div>
        <div class="drop-el__inside">
            <div class="p1">
                There are two ways. The first is to order cleaning through the management company.
            Go to the application, in the "Services" section, select "window washing" and leave a request.
            Please note that this is a paid service, but its cost is usually lower than in
            average for the city. As soon as the management company collects the required number of requests, it will call industrial
            climbers who will wash all the windows in one day. The second way is to rent together with neighbors
            robot cleaner. You will only need to start the device without leaving your apartment and remove it
            after finishing work. It will wash four square meters of window in ten minutes.
            </div>
        </div>
        </div>
        <div class="drop-el" > 
        <div class="drop-el__title">
            <div class="h2">The windows are very high, how to wash them 33</div>
            <div class="drop-el__icon">
            </div>
        </div>
        <div class="drop-el__inside">
            <div class="p1">
                There are two ways. The first is to order cleaning through the management company.
            Go to the application, in the "Services" section, select "window washing" and leave a request.
            Please note that this is a paid service, but its cost is usually lower than in
            average for the city. As soon as the management company collects the required number of requests, it will call industrial
            climbers who will wash all the windows in one day. The second way is to rent together with neighbors
            robot cleaner. You will only need to start the device without leaving your apartment and remove it
            after finishing work. It will wash four square meters of window in ten minutes.
            </div>
        </div>
        </div>
    </div>

    <script src="accordion.js"></script>

</body>
</html>