<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MassonryGrid</title>
    <link rel="stylesheet" href="/components/massonry/massonry.css">
</head>
<body>
    
    <div class="massonry">
        <div class="massonry__img">
            <img src="../massonry/content/images/meColumns.jpeg" alt="">
        </div>
        <div class="massonry__img">
            <img src="../massonry/content/images/reichstag.jpeg" alt="">
        </div>
        <div class="massonry__img">
            <img src="../massonry/content/images/altegalerie.jpeg" alt="">
        </div>
        <div class="massonry__img">
            <img src="../massonry/content/images/Zeughaus.jpeg" alt="">
        </div>
        <div class="massonry__img">
            <img src="../massonry/content/images/Rathaus.jpeg" alt="">
        </div>
        <div class="massonry__img">
            <img src="../massonry/content/images/dom.jpeg" alt="">
        </div>
        <div class="massonry__img">
            <img src="../massonry/content/images/turm.jpeg" alt="">
        </div>
        <div class="massonry__img">
            <img src="../massonry/content/images/domFront.jpeg" alt="">
        </div>
        <div class="massonry__img">
            <img src="../massonry/content/images/meAlexanderplatz.jpeg" alt="">
        </div>
        <div class="massonry__img">
            <img src="../massonry/content/images/statue.jpeg" alt="">
        </div>
        <div class="massonry__img">
            <img src="../massonry/content/images/bibliotek.jpeg" alt="">
        </div>
    </div>

</body>
</html>